apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.21.0 (992df58d8)
  creationTimestamp: null
  labels:
    io.kompose.service: spark
  name: spark
  namespace: my-app
spec:
  ports:
  - name: "7077"
    port: 7077
    targetPort: 7077
  selector:
    io.kompose.service: spark
status:
  loadBalancer: {}
