#mainFooter {
	background: #222 !important;
	padding: 150px 0 0;
	color: #fff;
	min-width: 500px;
}

#mainFooter .header {
margin-bottom: 40px;
}

#mainFooter .header h6 {
font-size: 1.3rem;
font-weight: bold;
text-transform: uppercase;
letter-spacing: 0.2em;
color: #fff;
}

#mainFooter .header h6::after {
content: '';
display: block;
width: 50px;
height: 2px;
background: #2b90d9;
}

#mainFooter p {
color: white;
}

#mainFooter ul.contact a, footer ul.contact li {
color: white;
letter-spacing: 1px;
margin: 5px 0;
}

#mainFooter ul.contact a:hover, footer ul.contact li:hover {
color: #2b90d9;
}

#mainFooter ul.contact span {
padding-right: 10px;
}

#mainFooter .newsletter form {
margin-top: 20px;
max-width: 500px;
}

#mainFooter .newsletter form input, footer .newsletter form button {
display: inline-block;
height: 40px;
line-height: 40px;
font-size: 0.85rem !important;
border: none;
}

#mainFooter .newsletter form input[type=submit], footer .newsletter form button[type=submit] {
min-width: 100px !important;
padding: 0 !important;
margin: 0;
}

#mainFooter .newsletter form input[type=email], footer .newsletter form button[type=email] {
width: calc(100% - 100px);
padding: 0 20px;
}

#mainFooter ul.social {
text-align: center;
margin: 50px 0 100px;
}

#mainFooter ul.social a {
color: #fff;
}

#mainFooter ul.social a:hover {
color: #2b90d9;
}

#mainFooter .copyrights {
padding: 30px 0;
background: #1e1e1e;
}

#mainFooter .copyrights ul {
margin-bottom: 0;
}

#mainFooter .copyrights ul a {
color: white;
font-size: 0.85rem;
}

#mainFooter .copyrights ul a:hover {
color: #2b90d9;
}

#mainFooter .copyrights p {
font-size: 0.85rem;
text-align: right;
}

#mainFooter .copyrights p a:hover {
color: #fff;
}

#imgFooter{
	position: relative;
    bottom: 50px;
    max-width: 50px;
}
